/* global selector, applies to all parts of index.html document */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body tag selector */
body {
    background-color: #d9dcd6;
}

/* header class selector */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* header class h1 child selector */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* header class's h1's seo class selector */
.header h1 .seo {
    color: #d9dcd6;
}

/* header class child nav selector */
/* [.header div] was changed to [.header nav] to select correct HTML elements from updated HTML  */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* header class's nav's child h1 selector */
/* [.header div ul] was changed to [.header nav ul] to select correct HTML elements from updated HTML  */
.header nav ul {
    list-style-type: none;
}

/* nav bar list items */
/* [.header div ul li] was changed to [.header nav ul li] to select correct HTML elements from updated HTML  */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* anchor tag, used for links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* p tag selector */
p {
    font-size: 16px;
}

/* main site image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* tags containing this class will appear on the left side of the view port */
.float-left {
    float: left;
    margin-right: 25px;
}

/* tags containing this class will appear on the right side of the view port */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Redundancy removed from several selectors since there were classes which had identical 
CSS properties. */

/* class of main content of the web page */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* The following 3 selectors were moved closer to the content selector to follow flow of the HTML parent and child 
relationships. */

/* content section data selector */
/* This CSS selector had 3 different class names, was consolidated to 1 since others were modifying the same properties and redundant.
[.search-engine-optimization], [.online-reputation-management], and [.social-media-marketing] were changed to
[.content-section-data] */
.content-section-data {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* content section data child img selector */
/* This CSS selector was updated and cosolidated because the unique classes were consolidated above. Eliminated redundancy.
[.search-engine-optimization], [.online-reputation-management], and [.social-media-marketing] were changed to
[.content-section-data] */
.content-section-data img {
    max-height: 200px;
}

/* content section data child h2 selector */
/* This CSS selector was updated and cosolidated because the unique classes were consolidated above. Eliminated redundancy.
[.search-engine-optimization], [.online-reputation-management], and [.social-media-marketing] were changed to
[.content-section-data] */
.content-section-data h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* class of aside area of web page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* aside class benefit data selector */
/* This CSS selector had 3 different class names, was consolidated to 1 since others were modifying the same properties and redundant.
[.benefit-lead], [.benefit-brand], and [.benefit-cost] were changed to [.benefit-data] */
.benefit-data {
    margin-bottom: 32px;
    color: #ffffff;
}

/* benefit data child h3 selector */
/* This CSS selector was updated and cosolidated because the unique classes were consolidated above. Eliminated redundancy.
[.benefit-lead], [.benefit-brand], and [.benefit-cost] were changed to [.benefit-data] */
.benefit-data h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* benefit data child img selector */
/* This CSS selector was updated and cosolidated because the unique classes were consolidated above. Eliminated redundancy.
[.benefit-lead], [.benefit-brand], and [.benefit-cost] were changed to [.benefit-data] */
.benefit-data img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* footer class selector */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer class h2 child selector */
.footer h2 {
    font-size: 20px;
}
